@CHARSET "ISO-8859-1";

#mainform\3A namelabel {
	margin-left: 30%;
	margin-top: 20%;
	font-family: "Times New Roman";
	font-size: 25px;
}

#mainform\3A nametextbox {
	margin-left: 30%;
	margin-top: 0%;
	width: 40%;
	font-family: "Times New Roman";
	font-size: 20px;
}

#mainform\3A longitudelabel {
	margin-left: 30%;
	margin-top: 3%;
	font-family: "Times New Roman";
	font-size: 25px;
}

#mainform\3A longitudetextbox {
	margin-left: 30%;
	margin-top: 0%;
	width: 8%;
	font-family: "Times New Roman";
	font-size: 20px;
}

#mainform\3A latitudelabel {
	margin-left: 30%;
	margin-top: 3%;
	font-family: "Times New Roman";
	font-size: 25px;
}

#mainform\3A latitudetextbox {
	margin-left: 30%;
	margin-top: 0%;
	width: 8%;
	font-family: "Times New Roman";
	font-size: 20px;
}

#mainform\3A altitudelabel {
	margin-left: 30%;
	margin-top: 0%;
	width: 8%;
	font-family: "Times New Roman";
	font-size: 20px;
}

#mainform\3A altitudetextbox {
	margin-left: 30%;
	margin-top: 0%;
	width: 8%;
	font-family: "Times New Roman";
	font-size: 20px;
}

#mainform\3A cabinetlabel {
	margin-left: 30%;
	margin-top: 20%;
	font-family: "Times New Roman";
	font-size: 25px;
}

#mainform\3A cabinettable {
	margin-left: 35%;
	font-family: "Times New Roman";
	font-size: 20px;
}

/*#mainform\3A cabinettable\3A cabinetnamecolumn\3A cabinetnamelabelone {
	margin-left: 35%;
	margin-top: 7%;
	font-family: "Times New Roman";
	font-size: 25px;
}*/

#mainform\3A newcabinetbutton {
	margin-left: 30%;
	margin-top: 1%;
	font-family: "Times New Roman";
	font-size: 20px;
}

#mainform\3A antennalabel {
	margin-left: 30%;
	margin-top: 20%;
	font-family: "Times New Roman";
	font-size: 25px;
}

#mainform\3A antennatable {
	margin-left: 35%;
	font-family: "Times New Roman";
	font-size: 20px;
}

#mainform\3A antennatable\3A antennanamecolumn\3A antennanamelabelone {
	margin-left: 35%;
	margin-top: 7%;
	font-family: "Times New Roman";
	font-size: 25px;
}

#mainform\3A newantennabutton {
	margin-left: 30%;
	margin-top: 1%;
	font-family: "Times New Roman";
	font-size: 20px;
}