@CHARSET "ISO-8859-1";

h2 {
	text-align: center;
	font-family: "Times New Roman";
	font-size: 30px;
}

#mainform\3A heightlabel {
	margin-left: 30%;
	margin-top: 20%;
	font-family: "Times New Roman";
	font-size: 25px;
}

#mainform\3A heightvalidatormessage {
	margin-left: 1%;
	font-family: "Times New Roman";
	font-size: 15px;
	color: red;
}

#mainform\3A heighttextbox {
	margin-left: 30%;
	margin-top: 1%;
	width: 15%;
	height: 10%;
	font-family: "Times New Roman";
	font-size: 20px;
}

#mainform\3A azimuthlabel {
	margin-left: 30%;
	margin-top: 20%;
	font-family: "Times New Roman";
	font-size: 25px;
}

#mainform\3A azimuthvalidatormessage {
	margin-left: 1%;
	font-family: "Times New Roman";
	font-size: 15px;
	color: red;
}

#mainform\3A azimuthtextbox {
	margin-left: 30%;
	margin-top: 1%;
	width: 15%;
	height: 10%;
	font-family: "Times New Roman";
	font-size: 20px;
}

#mainform\3A downtiltlabel {
	margin-left: 30%;
	margin-top: 20%;
	font-family: "Times New Roman";
	font-size: 25px;
}

#mainform\3A downtiltvalidatormessage {
	margin-left: 1%;
	font-family: "Times New Roman";
	font-size: 15px;
	color: red;
}

#mainform\3A downtilttextbox {
	margin-left: 30%;
	margin-top: 1%;
	width: 15%;
	height: 10%;
	font-family: "Times New Roman";
	font-size: 20px;
}