@CHARSET "ISO-8859-1";

#searchtextbox {
	position: relative;
	margin-left: 20%;
	margin-top: 1%;
	width: 30%;
	height: 10%;
	font-family: "Times New Roman";
	font-size: 20px
}

#searchtypeselect {
	position: relative;
	margin-left: 1%;
	margin-top: 1%;
	width: 10%;
	height: 10%;
	font-family: "Times New Roman";
	font-size: 20px
}

#searchbutton {
	position: relative;
	margin-left: 1%;
	margin-top: 1%;
	width: 7%;
	height: 10%;
	font-family: "Times New Roman";
	font-size: 20px
}

#addnewbutton {
	position: relative;
	margin-left: 1%;
	margin-top: 1%;
	width: 7%;
	height: 10%;
	font-family: "Times New Roman";
	font-size: 20px
}